<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<footer th:fragment="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-offset-2 col-md-8">
                <div class="row">
                    <div class="col-md-offset-2 col-md-2">
                        <img src="images/logo.png" th:src="@{/images/logo.png}">
                    </div>
                    <div class="col-md-6" style="margin-top: 10px;">
                        <div class="row">
                            <div class="col-md-offset-2 col-md-10">
                                <a href="http://www.gem-inno.com/">苏州高博应诺信息科技有限公司&copy;所有</a>
                            </div>
                        </div>
                        <div class="gap"></div>
                        <div class="row">
                            <div class="col-md-offset-2 col-md-10">
                                <span class="text-info">高博教育&reg; |&nbsp;</span>
                                <span class="text-info"><a href="http://www.xmgc360.com">项目工厂</a> |&nbsp;</span>
                                <span class="text-info">2012－2020 </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>